.rs-sidenav-item {
  padding: 0px 0px !important;
}

.sidebarpoint-zk4 {
  align-items: center;
  background-color: #ffffff;
  border: solid 0.1rem #e3e3e3;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 13.2rem;
  overflow: hidden;
  padding-right: 0.8rem;
  position: relative;
  width: 100%;

  .item--hPa {
    background-color: #ffca30;
    flex-shrink: 0;
    height: 13.1rem;
    /* margin: 0rem 1.4rem 0.1rem 0rem; */
    width: 0.2rem;
  }

  .item--PnC {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: calc(100% - 1.6rem);
    margin: 0.8rem 0.8rem 0.8rem 0rem;
    width: 1.6rem;

    .item--VqE {
      background-color: #ffca30;
      border-radius: 0.8rem;
      flex-shrink: 0;
      height: 1.6rem;
      margin-bottom: 0.1rem;
      width: 100%;
    }

    .item--1oa {
      background-color: #ffca30;
      flex-shrink: 0;
      height: 9.9rem;
      margin: 0rem 0.7rem 0rem 0.8rem;
      width: calc(100% - 1.5rem);
    }
  }

  .auto-group-esre-7bi {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: calc(100% - 2.3rem);
    margin: 0.8rem 1.1rem 1.5rem 0rem;

    .item--2ig {
      color: #515357;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 1.1725;
      margin-bottom: 0.8rem;
      white-space: nowrap;
    }

    .item--vp4 {
      color: #515357;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      margin-bottom: 0.3rem;
      white-space: nowrap;
    }

    .item--1ac {
      color: #93959a;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      margin-bottom: 1.1rem;
      max-width: 20.1rem;
    }

    .item-3--EyA {
      color: #515357;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      white-space: nowrap;
    }
  }

  .auto-group-mydn-N3n {
    color: #515357;
    flex-shrink: 0;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 500;
    height: 4.5rem;
    line-height: 1.1725;
    margin-bottom: 6.7rem;
    text-align: right;
    white-space: nowrap;
  }

  .rectangle-2962-smE {
    background-color: rgba(200, 204, 208, 0.6999999881);
    border-radius: 1rem;
    flex-shrink: 0;
    height: 6.6rem;
    margin-top: 0.6rem;
    width: 0.8rem;
  }
}

.SidebarCollapse {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.SidenavCollapse {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .SidebarCollapse.collapsed {
  right: 200px;
  margin-left: 350 px;
} */

/* .SidebarCollapse:active {
  flex: 0 0 400px;
} */
.NavClass {
  height: 100%;
  color: #ffca30;
}