.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a.rs-nav-item {
  padding-top: 0rem;
  padding-left: 0rem;
  padding-right: 0;
  padding-bottom: 0rem;
  overflow: auto;
  border-radius: 0px;
}

.rs-nav-item {
  overflow: auto;
  border-radius: 0px;
}

.in_line {
  /* overflow: auto; */
  white-space: nowrap;
  display: inline;
  position: relative;
  height: 35px;
  margin-bottom: 15px;
}

button.rs-sidenav-toggle-button.rs-btn-icon.rs-btn-icon-placement-left.rs-btn.rs-btn-default {
  float: none;
}



#toggleButton::after {

  float: none !important;
}

.line_element {
  display: inline-block;

  /* Размещает элементы в одной строке */

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Menu {
  position: absolute;
  background-color: #FFFFFF;
  height: 100%;
  width: auto;
  right: 0;
  display: flex;
  flex-direction: column;

}

.menuBtn {
  display: flex;
  flex-direction: column;
}

.dropMenu {
  position: absolute;
  right: 100%;
  border: solid blue;
}

ul#menuItems {
  margin-bottom: 0px;
}

.card {
  align-items: center;
  background-color: #ffffff;
  border-bottom: solid 0.1rem #e3e3e3;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  /* height: 13.2rem; */
  overflow: hidden;
  padding-right: 0.8rem;
  position: relative;
  width: 100%;
  min-height: 100px;
  overflow: hidden;

  .board_line {

    flex-shrink: 0;
    /* height: 13.1rem; */
    height: 100%;
    margin: 0rem 1.4rem 0rem 0rem;
    width: 0.2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .signal_color {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: calc(100% - 1.6rem);
    /* margin: 0.8rem 0.8rem 0.8rem 0rem; */
    width: 1.6rem;
    margin-left: 15px;
    /* position: relative; */
    /* padding-bottom: 100%; */


    .circle {

      border-radius: 0.8rem;
      flex-shrink: 0;
      height: 1.6rem;
      /* margin-bottom: 0.1rem; */
      width: 1.6rem;
      position: absolute;
      top: 10px;
      left: 15px;

      /* margin-bottom: calc(100%); */

      /* position: absolute; */
      /* position: ; */
      /* margin-bottom: 120px; */

      /* margin-bottom: 85%; */
      /* top: 10px; */
      /* bottom: 0; */
      /* left: 0; */
      /* right: 0; */
    }

    .line {


      /* background-color: #ffca30; */
      flex-shrink: 0;
      /* height: 9.9rem; */
      position: absolute;
      /* height: 100%; */
      top: 10px;
      bottom: 10px;
      left: 15px;
      right: 0;
      margin: 0rem 0.7rem 0rem 0.8rem;
      width: calc(100% - 1.5rem);
    }
  }

  .text_group {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: calc(100% - 2.3rem);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;

    .item_1 {
      width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #515357;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 1.1725;
      margin-bottom: 0.8rem;
    }

    .item_2 {
      width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #515357;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      margin-bottom: 0.3rem;
      /* white-space: nowrap; */
    }

    .item_3 {
      /* display: -webkit-box; */
      /* -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-height: 1.2;
      max-height: 3.6em; */
      /* (line-height * number of lines) */
      /* width: 250px;
      overflow: hidden;
      text-overflow: ellipsis; */

      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      max-width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;

      color: #93959a;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      margin-bottom: 0.8rem;


    }

    .item_4 {
      color: #515357;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      /* white-space: nowrap; */
    }

    .item_5 {
      width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #515357;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      margin-top: 0;
      margin-bottom: 1.1rem;

      /* white-space: nowrap; */
    }
  }

  .code_mes {
    color: #515357;
    flex-shrink: 0;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 500;
    height: 4.5rem;
    line-height: 1.1725;
    margin-bottom: 6.7rem;
    text-align: right;
    white-space: nowrap;
  }

  .rectangle-2962-dnF {
    background-color: rgba(200, 204, 208, 0.6999999881);
    border-radius: 1rem;
    flex-shrink: 0;
    height: 6.6rem;
    margin-top: 1.2rem;
    width: 0.8rem;
  }
}

div#toggleButton {
  border-top: 0px;
  color: while;
}

button.rs-sidenav-toggle-button.rs-btn-icon.rs-btn-icon-placement-left.rs-btn.rs-btn-default {
  background-color: white;
}

.top_menu {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  /* padding: 1.2rem 1.6rem; */
  padding-top: 1.2rem;
  padding-left: 1.6rem;
  padding-right: 0;
  padding-bottom: 1.2rem;
  width: 100%;
  background-color: #FFFFFF;

  .big_period_group {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.2rem;
    margin-bottom: 1.6rem;
    width: 100%;

    .period_group {
      align-items: center;
      background-color: #f0f1f2;
      border-radius: 0.4rem;
      display: flex;
      flex-shrink: 0;
      height: 100%;
      overflow: hidden;
      position: relative;



      .p_active {
        align-items: center;
        background-color: #93959a;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        line-height: 1.1725;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 7.5rem;
        border-style: none;
      }



      .period {
        align-items: center;
        background-color: #f0f1f2;
        border-radius: 0.4rem;
        color: #93959a;
        display: flex;
        flex-shrink: 0;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        line-height: 1.1725;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 7.5rem;
        border-style: none;
      }


    }

    .another_period_btn {
      background-color: #ffffff;
      border-radius: 0.4rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 100%;
      overflow: hidden;
      padding: 1rem 1.2rem 1rem 1.259rem;
      position: relative;

      .x24-arrow-right-7Cx {
        height: 1.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.741rem;
        color: #282c34;
      }
    }
  }

  .filter_group {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.2rem;
    width: 100%;

    .search {
      background-color: #ffffff;
      border: solid 0.1rem #e3e3e3;
      border-radius: 0.4rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 100%;
      margin-right: 1.2rem;
      overflow: hidden;
      padding: 0.6rem 1.5rem;
      position: relative;
      width: 22.4rem;

      .search_group {
        align-items: center;
        display: flex;
        height: 100%;
        width: 8.3rem;

        .loupe_btn {
          flex-shrink: 0;
          height: 1.75rem;
          margin: 0rem 1.15rem 0.05rem 0rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.75rem;
        }

        .search_title {
          color: #93959a;
          display: flex;
          flex-shrink: 0;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.1725;
          white-space: nowrap;
        }
      }
    }

    .filter_btn {
      background-color: #ffffff;
      border-radius: 0.4rem;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1199999973);
      box-sizing: border-box;
      flex-shrink: 0;
      height: 100%;
      overflow: hidden;
      padding: 0.7rem 0.8rem 0.7rem 0.8rem;
      position: relative;

      .filter_img {
        height: 1.8003rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.6003rem;
      }
    }
  }
}

.text_area:focus,
input:focus {
  outline: none;
}