.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.filters {
  background-color: #ffffff;
  /* box-shadow: 0 -0.8rem 2rem rgba(0, 0, 0, 0.25);
  clip-path: inset(0 -10px 0 0); */

  box-shadow: 13px -0.8px 2rem rgba(0, 0, 0, 0.25);

  box-sizing: border-box;
  height: 85vh;
  left: 0;
  overflow: hidden;
  padding-top: 1.2rem;
  position: absolute;
  top: 0;
  width: 30rem;
  top: 50px;

  .wrapper_hazard_class {
    box-sizing: border-box;
    flex-direction: column;
    padding-bottom: 1.2rem;
    width: 100%;

    .wrapper_danger_checkbox {
      display: inline-block;
      margin-right: 24px;
      width: 49px;
      padding: 9px 12px;
      align-items: center;
      justify-content: center;
      align-items: flex-start;
      gap: 6px;

      .item_danger_checkbox {
        position: relative;
        width: 7.3rem;
        display: flex;
        margin-right: 10px;

        .text_danger_checkbox {
          display: inline;
          color: #515357;
          flex-shrink: 0;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.1725;
          margin: 0rem 0.5rem 0.9rem 0rem;
          white-space: nowrap;
          margin: 0;
        }
      }
    }
    .button-phoenix-wpK {
      background-color: #0079f7;
      border-radius: 0.4rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 4rem;
      margin: 0 1.2rem;
      overflow: hidden;
      padding: 1rem 8.35rem 1rem 9.25rem;
      position: relative;
      width: calc(100% - 2.4rem);

      .auto-group-1w7h-fEX {
        align-items: center;
        color: #ffffff;
        display: flex;
        font-size: 1.7rem;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        line-height: 1.1725;
        white-space: nowrap;
        width: 100%;
      }
    }
  }
}

nav.SidenavCollapse.rs-sidenav.rs-sidenav-default.rs-sidenav-collapse-in {
  display: flex;
  flex-direction: column;
  height: 99.8vh;
  background-color: white;
}

.filters_wrapper {
  flex: 1;
}

.main_cards_wrapper {
  overflow-y: auto;
}

.main_cards_wrapper::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.main_cards_wrapper::-webkit-scrollbar-thumb {
  background-color: #c8ccd0b2;
  border-radius: 6px;
  height: 10px;
}

.main_cards_wrapper::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 6px;
}

.appellation_element {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  min-width: 0;
  word-wrap: break-word;
}

.item_element {
  color: #515357;
  flex-shrink: 0;
  flex: 1;
  min-width: 0;
  word-wrap: break-word;
}

.container {
  white-space: normal;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0.8rem;
}

.item_1.item_bold {
  font-weight: 600 !important;
}

.element_top {
  margin-top: 0.3rem;
}

.chart {
  height: 50px;
  z-index: 5;
}

.close_popup_btn,
.collapse_popup_btn {
  position: absolute;
  bottom: 0rem;
  right: 0;
}

.padding-popup-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cancel_btn {
  background: white;
}

.popup {
  z-index: 3;
}

.emulate_wrapper {
  align-items: center;
  background-color: #ffffff;
  border-bottom: solid 0.1rem #e3e3e3;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 4rem;
  overflow: hidden;
  padding-right: 2.2rem;
  position: relative;
  width: 100%;

  .filter_line {
    background-color: #ad2c72;
    flex-shrink: 0;
    height: 3.9rem;
    margin: 0rem 2rem 0.1rem 0rem;
    width: 0.2rem;
  }
  .count_cards {
    color: #515357;
    display: flex;
    flex-shrink: 0;
    font-family: Roboto, "Source Sans Pro";
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.1725;
    white-space: nowrap;
  }
}

.emulate_btn {
  width: 60px;
  height: 40px;
  padding: 0px 0px 0px 0px !important;
  border-bottom: solid 0.1rem #e3e3e3;
  border: 0px 0px 1px 0px;
  border-radius: 0px !important;
}

svg.rs-icon {
  height: 30px;
  width: 30px;
  padding-left: 10px;
}

.checkbox_group {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  margin-left: 20px;
}

.c_line {
  border-bottom: solid 0.1rem #e3e3e3;
  width: 87%;
  left: 0;
}

.cards_wrapper {
  width: 100%;
}

.cards {
  width: 100%;
  overflow: auto;
}

.pagination-wrapper {
  position: absolute;
  text-align: center;
  vertical-align: middle;

  bottom: 0.7vh;
  height: 40px;
  width: 100%;

  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.apply_btn {
  background-color: #0079f7;
  border-radius: 0.4rem;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 4rem;
  margin: 0 1.2rem;
  overflow: hidden;
  padding: 1rem 8.35rem 1rem 9.25rem;
  position: relative;
  width: calc(100% - 2.4rem);
  position: absolute;
  bottom: 12px;

  .apply {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-size: 1.7rem;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    line-height: 1.1725;
    white-space: nowrap;
    width: 100%;
  }
}

.signal_wrapper {
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 185px;

  .signal_text {
    color: var(--ds-primary-black, #515357);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.top_popup {
  align-items: flex-end;
  display: flex;
  margin: 0rem 10.6rem 0.7rem 0rem;
  width: calc(100% - 11.1rem);

  .reset_button {
    color: #93959a;
    flex-shrink: 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.1725;
    margin-right: 3.8rem;
    text-align: right;
    white-space: nowrap;
    margin-left: 1.2rem;
    background-color: white;
  }
  .filter_text {
    color: #515357;
    flex-shrink: 0;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.1725;
    margin-bottom: 0.1rem;
    white-space: nowrap;
  }
}

.checkbox_line {
  width: 300px;
  height: 40px;
  flex-shrink: 0;
  display: flex;

  .square {
    position: absolute;
    margin: 12px 272px 12px 12px;
    display: inline;
    float: right;
    border-radius: 0.25rem;
    background: var(--ds-secondary-crime, #ad2c72);
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
  }
  .desc_text {
    position: absolute;
    margin: 10px 0px 10px 32px;
    color: var(--ds-primary-black, #515357);
    margin-right: 8.12rem;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.custom-checkbox {
  position: absolute;
  margin: 10px 12px 10px 266px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
}

.danger_checkbox {
  margin: 0px 0px 0px 0px;
  display: inline;
  padding-left: 0px;
  left: 6px;
}
.hidden-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid rgba(0, 121, 247, 0.5);
  border-radius: 4px;
}

.tick-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.hidden-checkbox:checked + .checkmark {
  background-color: #0079f7;
  border-color: #0079f7;
}

.hidden-checkbox:checked + .checkmark + .tick-icon {
  display: block;
}

.more_filter_btn {
  background-color: white;
}

.danger_wrapper {
  display: inline-flex;
  padding: 0.8rem 1.2rem;
  justify-content: center;
  align-items: center;
  gap: 123px;

  .danger_text {
    color: var(--ds-primary-black, #515357);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.word {
  font-size: 15px;
}
.green_sq {
  background: #38c25d;
}

.yellow_sq {
  background: #ffca31;
}

.red_sq {
  background: #ea4335;
}

.crime_sq {
  background: #ad2c72;
}

.grey_sq {
  background: #858b99;
}

.lb_sq {
  background: #d9e2ec;
}

.blue_sq {
  background: #4285f4;
}

a.rs-nav-item {
  padding-top: 0rem;
  padding-left: 0rem;
  padding-right: 0;
  padding-bottom: 0rem;
  overflow: auto;
  border-radius: 0px;
}

.rs-nav-item {
  overflow: auto;
  border-radius: 0px;
}

.in_line {
  white-space: nowrap;
  display: inline;
  position: relative;
  height: 35px;
  /* margin-bottom: 15px; */
}

span.rs-ripple-pond {
  width: 30px;
  height: 30px;
  right: 0px;
  bottom: 0px;
}

button.rs-sidenav-toggle-button.rs-btn-icon.rs-btn-icon-placement-left.rs-btn.rs-btn-default {
  float: none;
  padding: 0 0;
  width: 40px;
}

nav.SidenavCollapse.rs-sidenav.rs-sidenav-default.rs-sidenav-collapse-out {
  background-color: white;
}

#toggleButton::after {
  float: none !important;
}

.page_btn {
  height: 40px;
  fill: #93959a;
}

/* .rs-sidenav-toggle {
  padding-left: 15px;
} */

.rs-sidenav-toggle.rs-sidenav-toggle-collapsed {
  padding-left: 0px;
  padding-right: 0px;
  position: fixed;
  top: 0.8rem;
}

.page_placeholder {
  width: 30px;
  height: 40px;
  border: solid 0.1rem #e3e3e3;
}

.change-period-btn {
  background-color: white;
  height: 20px;
}

.line_element {
  display: inline-block;
  background-color: white;
}

.bottom_line_element {
  text-align: center;
  margin: auto;
  display: table-cell;
  background-color: white;
}

.main_pagination_wrapper {
  flex: 1;
  width: 100%;
}

.Menu {
  position: absolute;
  background-color: #ffffff;
  height: 100vh;
  width: auto;
  right: 0;
  display: flex;
  flex-direction: column;
}

p + p {
  margin-top: 0 !important;
}

ul#menuItems {
  position: static;
  white-space: nowrap;
}

.withoutColor {
  background-color: white;
}

ul#menuItems {
  margin-bottom: 0px;
}

.card {
  align-items: center;
  background-color: #ffffff;
  border-bottom: solid 0.1rem #e3e3e3;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  padding-right: 0.8rem;
  position: relative;
  width: 100%;
  min-height: 100px;
  overflow: hidden;

  .board_line {
    flex-shrink: 0;
    height: 100%;
    margin: 0rem 1.4rem 0rem 0rem;
    width: 0.2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .signal_color {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: calc(100% - 1.6rem);
    width: 1.6rem;
    margin-left: 15px;

    .circle {
      border-radius: 0.8rem;
      flex-shrink: 0;
      height: 1.6rem;
      width: 1.6rem;
      position: absolute;
      top: 10px;
      left: 15px;
    }

    .line {
      flex-shrink: 0;
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 15px;
      margin: 0rem 0.7rem 0rem 0.8rem;
    }
  }

  .text_group {
    display: flex;
    padding-right: 35px;
    flex-direction: column;
    flex-shrink: 0;
    height: calc(100% - 2.3rem);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
    white-space: nowrap;
    width: 100%;

    .item_1 {
      width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #515357;
      flex-shrink: 0;
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 1.1725;
      margin-bottom: 0.8rem;
    }

    .item_2 {
      width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #515357;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      margin-bottom: 0.4rem;
    }

    .item_3 {
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      max-width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;

      color: #93959a;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      margin-bottom: 1.2rem;
    }

    .item_4 {
      color: #515357;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
    }

    .item_5 {
      width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #515357;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      margin-top: 0;
      margin-bottom: 0.8rem;
    }
  }
}

div#toggleButton {
  border-top: 0px;
  color: while;
  height: 40px;
}

button.rs-sidenav-toggle-button.rs-btn-icon.rs-btn-icon-placement-left.rs-btn.rs-btn-default {
  background-color: white;
}

.top_menu {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  padding-top: 1.2rem;
  padding-right: 0;
  width: 100%;
  background-color: #ffffff;

  .big_period_group {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.2rem;
    margin-bottom: 1.6rem;
    width: 100%;

    .period_group {
      align-items: center;
      background-color: #f0f1f2;
      border-radius: 0.4rem;
      display: flex;
      flex-shrink: 0;
      height: 100%;
      overflow: hidden;
      position: relative;

      .p_active {
        align-items: center;
        background-color: #93959a;
        border-radius: 0.4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        line-height: 1.1725;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 7.5rem;
        border-style: none;
      }

      .period {
        align-items: center;
        background-color: #f0f1f2;
        border-radius: 0.4rem;
        color: #93959a;
        display: flex;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        line-height: 1.1725;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 7rem;
        border-style: none;
      }
    }
  }

  .filter_group {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.2rem;
    width: 100%;
    padding-left: 1.6rem;

    .search {
      background-color: #ffffff;
      border: solid 0.1rem #e3e3e3;
      border-radius: 0.4rem;
      box-sizing: border-box;
      flex-shrink: 0;

      margin-right: 1.2rem;
      overflow: hidden;
      padding: 0.6rem 1.5rem;
      position: relative;
      width: 224px;
      height: 32px;

      .search_group {
        align-items: center;
        display: flex;
        height: 100%;
        width: 8.3rem;

        .loupe_btn {
          background-color: white;
          height: 24px;
          width: 24px;
          margin-right: 8px;

          .search_svg {
            fill: #93959a;
          }
        }

        .search_title {
          color: black;
          display: flex;
          flex-shrink: 0;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.1725;
          white-space: nowrap;
        }
      }
    }

    .filter_btn {
      background-color: #ffffff;
      width: 32px;
      height: 32px;
      padding: 14px 12px;
      border-radius: 0.4rem;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1199999973);
      box-sizing: border-box;

      .filter_svg {
        position: relative;
        bottom: 10px;
        right: 7.5px;
        fill: #93959a;
      }
    }

    .filter_btn_active {
      background: #f0f1f2;
      width: 32px;
      height: 32px;
      padding: 14px 12px;
      border-radius: 0.4rem;
      box-sizing: border-box;

      .filter_svg {
        position: relative;
        bottom: 10px;
        right: 7.5px;
        fill: #93959a;
      }
    }
  }
}

.rs-sidenav-body {
  background-color: white;
}

.text_area:focus,
input:focus {
  outline: none;
}

.selected_filters {
  background-color: white;
  color: white;
  align-items: center;
  column-gap: 1.2rem;
  display: flex;
  flex: 1;
  flex-shrink: 0;
  height: 2.4rem;
  margin-bottom: 8px;

  .box_filter {
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 10px 0px #0000001f;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    width: 48px;
    height: 24px;
    left: 16px;
    border-radius: 4px;
    overflow: hidden;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    position: relative;

    .signal {
      width: 24px;
      height: 22px;
      align-items: center;
      border-radius: 4px;
      color: #515357;
      display: flex;
      justify-content: center;
    }

    .cancel_div {
      width: 21px;
      height: 22px;
      align-items: center;
      justify-content: center;

      .cancel_svg {
        padding-top: 3px;
        margin-left: 2px;
        fill: #93959a;
        background-color: #ffffff;
      }
    }
  }
}
